.vscode/**
.vscode-test/**
.cursor/**
docs/**
test-app/**
releases/**
cursor-skill/**
src/**
.gitignore
.gitlab-ci.yml
tsconfig.json
node_modules/**
package-lock.json
**/*.ts
**/*.map
.translations.tmp.json
